{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<!-- Write content in here -->

<div class="container-fluid">
    <div class="row">


        <!-- left side -->
        <div class="col-lg-5">

            <div class="container-fluid mt-4 bm-4" id="noticias-hover">
                <h2>Noticias</h2>
                <p id="trade_news"></p>
            </div>
            <!-- Trade buttons -->
            <div class="container-fluid " id="operaciones-espacio">
                <h2>Operación</h2>
                <div class="row">
                    <div class="col-sm">
                    <button onclick="buy_shares(this.value)" value="1" id="trade_btn_buy_s" type="button" class="btn btn-primary btn-block">Comprar 1</button>
                    </div>
                    <div class="col-sm">
                    <button onclick="buy_shares(this.value)" value="10" id="trade_btn_buy_m" type="button" class="btn btn-primary btn-block">Comprar 10</button>
                    </div>
                    <div class="col-sm">
                    <button onclick="buy_shares(this.value)" value="20" id="trade_btn_buy_l" type="button" class="btn btn-primary btn-block">Comprar 20</button>
                    </div>
                </div>

                <div class="container-fluid">
                <h4 class="text-center">Precio:</h4>
                <h1 class="text-center" id="trade_price"></h1>
                </div>

                <div class="row">
                    <div class="col-sm">
                    <button onclick="sell_shares(this.value)" value="1" id="trade_btn_sell_s" type="button" class="btn btn-danger btn-block">Vender 1</button>
                    </div>
                    <div class="col-sm">
                    <button onclick="sell_shares(this.value)" value="10" id="trade_btn_sell_m" type="button" class="btn btn-danger btn-block">Vender 10</button>
                    </div>
                    <div class="col-sm">
                    <button onclick="sell_shares(this.value)" value="20" id="trade_btn_sell_l" type="button" class="btn btn-danger btn-block">Vender 20</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- right side -->
        <div style="background-color:rgb(240,240,240)" class="col-lg-7">


            <!-- Market chart -->
            <div class="container">
            <h2>Mercado</h2>
            <figure class="highcharts-figure">
            <div id="container"></div>
            </figure>
            </div>

            <!-- Portfolio table -->
            <div class="container">
            <h2>Mi Portafolio</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Dinero</th>
                    <th>Acciones</th>
                    <th>Valor de acciones</th>
                    <th>Total</th>
                    <th>P&L</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="table_cash"></td>
                    <td id="table_shares"></td>
                    <td id="table_share_value"></td>
                    <td id="table_total"></td>
                    <td id="table_pandl"></td>
                </tr>
            </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

{% next_button %}

{% endblock %}

{% block scripts %}
<!-- Write scripts in here! -->

<!-- Load javascripts from Content Delivery Network -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- Make sure a warning apears when someone tries to refresh or leave the session-->
<body onkeydown="return (event.keyCode != 116)"></body>
<body onkeydown="return (event.keyCode != 8)"></body>
<body onkeydown="return (event.keyCode != 123)"></body>
<body onkeydown="return (event.keyCode != 154)"></body>

<!-- Load custom javascripts from static files -->
<script src="{% static "ZTS/chart.js" %}"></script>
<script src="{% static "ZTS/trade_controller.js" %}"></script>
{% endblock %}

{% block styles %}

<style>
    
    /*Revisar si se tiene dudas sobre los estilos: https://www.w3schools.com/cssref/pr_margin-top.php */

    #noticias-hover {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: relative;         
        z-index: 1000;              /* superpone a otros elementos  */
    }
    #noticias-hover:hover {
        transform: scale(1.25); /* agranda un 25% */
        box-shadow: 0 0 15px rgba(0,0,0,0.3); /* sombra suave de la caja de la noticia */
        z-index: 10;
        background-color: #ffffff;
    }

    #operaciones-espacio {
        margin-top: 150px; /* establece margen superior de un elemento */
    }
    
</style>

{% endblock %}
